name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    name: Build
    permissions:
      contents: write
    uses: ./.github/workflows/build.yml
  lint:
    name: Lint and test
    uses: ./.github/workflows/lint.yml

